<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <% if (title) { %>
    <title><%= title %></title>
    <% } %>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/" class="nav-link">Accueil</a></li>
          <li><a href="/weather" class="nav-link">Météo</a></li>
          <li><a href="/chat" class="nav-link">Tchat</a></li>
          <li><a href="/login" class="nav-link">Login</a></li>
          <li><a href="/404" class="nav-link">404</a></li>
        </ul>
      </nav>      
    </header>