<!DOCTYPE>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Ajax météo angevine</title>
</head>
<body>
  <input id="input" placeholder="Entrer une ville"/>
  <button onclick='fecthWeather();' >Fetch létéo</button>
	<div id='meteo'  >
	Prévision pour la ville de : <span style='font-size:1.5em;' id='cityName' ></span>
	<br/>Bonjour, nous sommes le <span id='dateActuelle' ></span> et la température actuelle est de <span id='tempActuelle' class='temperature'  ></span>°C
	<br/>Le soleil s'est levera à <span id='heureLever' class='heure' ></span> et se couchera à <span id='heureCoucher' class='heure'  ></span>
	</div>
	<script >
  function fecthWeather() {
    let city = document.getElementById('input').value;
    fetch(`https://www.prevision-meteo.ch/services/json/${city}`)
    .then(function(response){ return response.json(); })
    .then(function(jsonData) {
      cityName.innerHTML = jsonData.city_info.name;
      dateActuelle.innerHTML = jsonData.current_condition.date;
      tempActuelle.innerHTML = jsonData.current_condition.tmp;
      heureLever.innerHTML = jsonData.city_info.sunrise;
      heureCoucher.innerHTML = jsonData.city_info.sunset;
    });
  }
	</script>
</body>
</html>
